

body{

    text-align: enter;
    background-color: white;
    text-align: center;
    background-color: #ebc7c7;
    padding: 70px 0;

}

.myTable{
    margin: auto;
    background-color: white;
    
  
}

.myTable td{
    border: 1px solid black;
}



.myTable th{
    text-decoration: underline;
    background-color: bisque;
    border: solid;
    
    

    
}
